body{
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100%;
    
}

.container{
    display: flex;
    margin: 0;
    padding: 0;
    width: 100vw;
}


#left{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 900px;
    height: 100vh;
    background-image: url(img/bg_img.jpg);
    background-size: cover;
    background-color: yellow;
}
@font-face {
    font-family: Norse;
    src: url(fonts/Norse-Bold.otf);
    
}

.logo{
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 180px;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Norse;
    font-size: 70px;
    color: white;
    font-weight: bold;
}
.logo img{
    height: 90px;
}
#left_footer,a{
    margin-block-start: 75%;
    color: white;
    
}


#right{
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    width: 100vw;
}

#header-section{
    height: 220px;
    width: 690px;
    padding-bottom: 30px;
    
    margin-top: 40px;
    
}
.headerText{
    margin-left: 40px;
    margin-top: 35px;
    font-family: 'roboto', sans-serif;
    font-size: 23px;
}






.main{
    display: flex;
    align-items: center;
    background-color:white;
    height: 300px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
    
}

.main span{
    font-size: 30px;
    font-family: 'roboto', sans-serif;
    margin-bottom: 10px;
}

.main form{
    display: flex;
    gap:300px;
    margin-bottom: 25px;

}

label{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
input {
    --border-radius : 5px;
    --border: 1px solid #E5E7EB;
    --font-size: 16px;
    margin-top: 2px;
    --input_padding-left: 10px;
    --input_height: 27px;
}


#left_inputs{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    width: 200px;
    height: 200px;
    margin-left: 50px;
    

}


#right_inputs{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    width: 300px;
    height: 200px;
    margin-top: 50pX;
    
    
}


#left_inputs input{
    display: flex;
    flex: 1 1 100%;
    border-radius: var(--border-radius);
    border: var(--border);
    font-size: var(--font-size);
    padding-left: var(--input_padding-left);
    height: var(--input_height);
}

#right_inputs input{
    display: flex;
    flex: 1 1 100%;
    border-radius: var(--border-radius);
    border: var(--border);
    font-size: var(--font-size);  
    padding-left: var(--input_padding-left);
    height: var(--input_height);
}



.bottom{
    
    margin-top: 25px;
    margin-left: 25px;
    
}

#createBtn{
    margin-bottom: 20px;
}
#createBtn button{
    width: 200px;
    height: 50px;
    background-color: #596D48;
    color: #f9faf8;
    font-size: 16px;
    font-family: 'roboto', sans-serif;
    font-weight: 400;
    border-radius: 10px;
    border: 2px solid #E5E7EB;
    
}



/*Pseud-classes*/




input:invalid {
    border: 2px solid red !important;
    
}


input:focus-visible{
    box-shadow: 0px 2px 10px  rgba(0, 0, 0, 0.3);
    outline: 1px solid blue;
    
}